body {
    position: relative;
    min-height: 100vh;
    background-image: -webkit-radial-gradient(rgb(142, 242, 255), rgb(225, 247, 246));
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-weight: 600;
    font-size: 1.2em;
    color: rgb(34, 26, 107);
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

input[type=checkbox] {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

button {
    background-color: aliceblue;
    margin-top: 10px;
}

label,
p {
    text-align: center;
    margin-bottom: 10px;
}

select {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

#continue_container,
.input_container,
#suggestion_container,
#waiting_container,
#welcome_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s linear;
}

#suggestion_container {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

#suggestion_container img {
    max-width: 80%;
    max-height: 50vh;
    margin-bottom: 10px;
}

.hidden {
    visibility: hidden;
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s linear;
}

footer {
    position: absolute;
    bottom: 0;
    height: 10px;
    width: 100%;
    text-align: center;
}